body {
    font-family: Arial;
    background-color: #fff8f0;
}

header {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

ul {
    line-height: 30px;
}

input, button {
    padding: 8px;
    width: 200px;
    margin: 5px 0;
}

button {
    background: brown;
    color: white;
    border: none;
}
